*{
  margin: 0px;
  padding: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* css variables */

/* navigation bar  */
#navbar{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0.1px;
  z-index: 2;
}

/* logo and image  */
#logo img{
   margin: 8px 28px;
   height: 45px;
   width: 45px;
   border-radius: 30px;
}
#logo div {
  margin-left: 18px;
  margin-top: -15px;
  color:whitesmoke;
  font-size: 0.8rem;
  padding: 2px;
}
/* list style */
#navbar ul {
  display: flex;
  list-style: none;
 
}

#navbar::before {
  content: "";
  background: url('../img/bg.jpg');
  /* background-color: black; */
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}
#navbar ul li {
   font-size: 1.1rem;
   
}
#navbar ul li a {
  color:wheat;
   display: block;
   padding: 2px 12px;
   text-decoration: none;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   

}
#navbar ul li a:hover {
  color: rgb(26, 5, 5);
  background-color: wheat;
  border-radius: 12px;
   display: block;
   padding: 2px 12px;
   text-decoration: none;
   font-family: 'Times New Roman', Times, serif;
   font-size: 1.2rem;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-content: center; 
  border: 2px solid  rgb(212, 162, 162);
  border-left: none;
  border-right: none;
  height: 300px;
 
}
#home::before{
  content: "";
  background: url('../img/bg.jpg');
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
  margin-top: 36px;
  
  
}
#home h1 {
  color: rgb(201, 214, 243);
  text-align: center;
  font-size: 3em;
  z-index: 1;
  text-shadow: rgb(251, 252, 250);
  font-weight: bolder;
  margin-top: -25px;
 

}
#home h2 {
  color: rgb(11, 243, 11);
  text-align: center;
  font-size: 2em;
  z-index: 1;
  font-weight: bold;
  margin-top: px;
  
  

}
#home h3 {
  color: rgb(231, 226, 216);
  text-align: center;
  font-size: 1.5em;
  z-index: 1;

  

}
.primary {
  font-size: 2rem;
  padding: 12px;
}
.container {
  display: flex;
  margin: auto;
   justify-content: space-evenly;
   flex-wrap: wrap;
   background-color: rgb(17, 17, 15);
   height: 50%;
  
  }
.container ul {
  list-style: none;
  border: 12px solid rgb(128, 10, 10);
  border-radius: 40px;
  background-color: rgb(159, 154, 163);
  padding: 30px; 
}
.container div {
  padding: 20px;
}
.container div li a {
  padding: 8px;
  border: 2px solid black;

  
}
.l ul li a {
  color: black;
  padding: 2px; 
  display: block;
  text-decoration: none;
  margin: 4px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(203, 214, 214);
}
.l ul li a:hover {
  color: rgb(229, 234, 238);
  background-color: rgb(12, 12, 44);
}

#lec ,#tut , #mycloud {
  color: rgb(221, 171, 124);
   margin-top: -8px;
   margin-bottom: 8px;
   
}
footer {
  height: 6px;
 text-align: end;
 margin-right: 10px;
 font-size: 1.2rem;
}
